.react-spectrum-ListView {
  border-color: var(--wa-table-border-color, var(--wa-alias-border-color-mid));
  border-style: solid;
  position: relative;
  border-width: var(--wa-table-border-size, var(--wa-alias-border-size-thin));
  border-radius: var(--wa-table-border-radius, var(--wa-alias-border-radius-regular));
  overflow: auto;
  vertical-align: var(--wa-table-cell-vertical-alignment);
  border-collapse: separate;
  border-spacing: 0;
  transform: translate3d(0, 0, 0);
  padding: 0;
  background-color: var(--wa-table-background-color, var(--wa-global-color-gray-50));
  outline: 0;
}

.react-spectrum-ListViewItem {
  display: grid; /* TODO: define grid areas */
  border-bottom: 1px solid var(--wa-tabel-cell-border-color, var(--wa-global-color-gray-300));
  box-sizing: border-box;
  font-size: var(--wa-table-cell-text-size, var(--wa-alias-font-size-default));
  font-weight: var(--wa-table-cell-text-font-weight, var(--wa-global-font-weight-regular));
  line-height: calc(var(--wa-table-cell-text-size, var(--wa-alias-font-size-default)) * var(--wa-table-cell-text-line-height, var(--wa-alias-body-text-line-height)) - 1px);
  padding: var(--wa-global-dimension-size-125) var(--wa-table-cell-padding-x, var(--wa-global-dimension-size-200));
  transition: background-color var(--wa-global-animation-duration-100) ease-in-out;
  position: relative;
  background-color: var(--wa-table-background-color, var(--wa-global-color-gray-50));
  color: var(--wa-table-cell-text-color, var(--wa-alias-text-color));
  outline: 0;

  &.is-hovered,
  &.is-focused {
     background-color: var(--wa-table-row-background-color-hover);
  }

  &:focus-ring {
     background-color: var(--wa-table-row-background-color-hover);
     box-shadow: inset 0 0 0 2px var(--wa-table-cell-border-color-key-focus);
     border-radius: var(--wa-table-cell-border-radius-key-focus);
  }
}

.react-spectrum-ListView-centeredWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
